<!DOCTYPE html>
<html lang ="en">
  <head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Scrape all the Twitch News</title>
  </head>
  <body>

    {{> nav/navbar}}
    
    <main>
      <div>
        {{{ body }}}
      </div>
    </main>

    {{> footer}}

    <!-- jQuery link-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
<html>