 <nav>
    <div>
      <a href="/">Scrape Twitch in the News</a>
      <ul>
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/dougkellermeyer/news-scraper" target="_blank">github repo</a></li>
      </ul>
    </div>
</nav>